@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-5xl font-bold lg:text-6xl;
  }
  h2 {
    @apply text-4xl font-bold lg:text-6xl;
  }
  h3 {
    @apply text-2xl font-bold;
  }
  h4 {
    @apply text-xl font-bold;
  }
  a {
    @apply tracking-wider;
  }
  p {
    @apply text-base;
  }
}

@layer components {
  .container {
    @apply px-6 lg:px-0 max-w-[1200px];
  }
  .button {
    @apply block w-full p-3 border-solid border-2 text-center rounded-md transition ease-in-out;
  }
  .button-primary {
    @apply border-red-300 text-red-300 hover:bg-red-300 hover:text-white;
  }
  .button-bg-primary {
    @apply button-primary bg-red-300 text-white hover:bg-transparent hover:text-red-300;
  }
  .button-white {
    @apply border-white text-white hover:bg-white hover:text-red-300;
  }
  .button-bg-white {
    @apply button-white bg-white text-red-300 hover:bg-red-300 hover:text-white;
  }
  .button-bg-white-reverse {
    @apply button-bg-white bg-red-300 text-white;
  }
  .card {
    @apply w-full bg-white mx-auto relative;
  }
  .card-body {
    @apply w-full p-6;
  }
  .tags {
    @apply flex;
  }
  .tag {
    @apply mr-3;
  }
  .calc-left {
    left: calc((theme("width.screen") - theme("width.full")) / 2 * -1)
  }
  .calc-h {
    height: calc(50% + theme("spacing.20"));
  }
  .calc-pt {
    padding-top: calc(16.75rem / 2 + 5rem - 50%);
  }
  .underbar {
    @apply content-[""] block w-full h-4 bg-red-150 absolute left-0 bottom-0 -z-10 lg:h-5;
  }
  img[src$="#float"] {
    width: 48%;
    float: left;
  }
  img[src$="#float"]:last-child {
    margin-left: 4%;
  }
  img[src$="#float"]:last-child::after {
    clear: both;
  }
  .prose :where(code):not(:where([class~="not-prose"] *))::before {
    content: none;
  }
  .prose :where(code):not(:where([class~="not-prose"] *))::after {
    content: none;
  }
  .prose :where(code):not(:where([class~="not-prose"] *)) {
    @apply bg-[#f3f3f3] p-1;
  }
}
